.title {
  text-align: center;
  margin-top: 2cm;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 200%;
}

.enter-pw-text {
  position: absolute;
  top: 350px;
  left: 500px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
}

.pw-input {
  position: absolute;
  top: 345px;
  left: 700px;
  width: 15cm;
  height: 0.8cm;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 130%;
}

.set-pw-btn {
  top: 10px;
  left: 10px;
}